*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}


.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.container img{
    height: 200px;
    width: auto;
}
.container button {
    padding: 10px 15px;
    cursor: pointer;
}