*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    /* position: relative; */

}

.container{
    height: 500px;
    width: 500px;
    background-color: aquamarine;
}

.box{
    height: 200px;
    width: 200px;
    background-color: purple;
    transition-property:all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    /* position: relative; */
    /* transform:translate(50%, 50%) ; */
}

/* .box:hover{
    background-color: aqua;
    transform:translate();
} */